<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Angular</a>

    <!-- 로그아웃 유저 -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerActive="active">
          sign up
        </a>
      </li>
    </ul>

    <!-- 로그인 유저 -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"> <!-- DOM에 자동추가 -->
            Home
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/editor"
            routerActive="active">
            <i class="ion-compose"></i>&nbsp;새로운 글
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/settings"
            routerActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="['/profile', currentUser.username]"
            routerActive="active">
            <img [src]="currentUser.image" *ngIf="currentUser.image" alt="user-pic" class="user-pic">
            {{ currentUser.username }}
          </a>
        </li>
      </ul>

  </div>
</nav>
